openapi: 3.2.0
info:
  title: BitOasis Exchange Fiat Withdrawals API
  version: v1
  description: The BitOasis Exchange REST API for the MENA region's crypto exchange.
  x-provenance:
    generated: '2026-07-18'
    method: derived
    source: https://raw.githubusercontent.com/bit-oasis/bitoasis-mcp/main/src/bitoasis_mcp/client.py
  contact:
    name: BitOasis Support
    email: support@bitoasis.net
    url: https://support.bitoasis.net/
  license:
    name: Proprietary
servers:
- url: https://api.bitoasis.net/v1
  description: Production
security:
- bearerAuth: []
tags:
- name: Fiat Withdrawals
  description: Fiat withdrawal history, creation, and cancellation.
paths:
  /exchange/fiat-withdrawals:
    get:
      operationId: getFiatWithdrawals
      tags:
      - Fiat Withdrawals
      summary: List fiat withdrawals
      description: Fiat withdrawal history.
      parameters:
      - $ref: '#/components/parameters/Offset'
      - $ref: '#/components/parameters/Limit'
      - $ref: '#/components/parameters/FromDate'
      responses:
        '200':
          description: Fiat withdrawals.
        '401':
          $ref: '#/components/responses/Unauthorized'
  /exchange/fiat-withdrawal/{withdrawal_id}:
    get:
      operationId: getFiatWithdrawal
      tags:
      - Fiat Withdrawals
      summary: Get fiat withdrawal
      description: Fiat withdrawal details by ID.
      parameters:
      - name: withdrawal_id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Fiat withdrawal details.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      operationId: cancelFiatWithdrawal
      tags:
      - Fiat Withdrawals
      summary: Cancel fiat withdrawal
      description: Cancel a pending fiat withdrawal.
      parameters:
      - name: withdrawal_id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Fiat withdrawal canceled.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /exchange/fiat-withdrawal:
    post:
      operationId: newFiatWithdrawal
      tags:
      - Fiat Withdrawals
      summary: New fiat withdrawal
      description: Withdraw fiat to a registered bank.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - amount
              properties:
                amount:
                  type: object
                  required:
                  - value
                  - currency
                  properties:
                    value:
                      type: string
                    currency:
                      type: string
                origin:
                  type: string
      responses:
        '200':
          description: Fiat withdrawal created.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  responses:
    Unauthorized:
      description: Missing or invalid API token.
    BadRequest:
      description: Bad request.
    NotFound:
      description: Resource not found.
  parameters:
    FromDate:
      name: from_date
      in: query
      required: false
      description: ISO date to filter results from.
      schema:
        type: string
        format: date
    Offset:
      name: offset
      in: query
      required: false
      schema:
        type: integer
    Limit:
      name: limit
      in: query
      required: false
      schema:
        type: integer
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: 'API token generated at Settings > Security > Token Management, sent as an Authorization: Bearer <token> header. Tokens carry granular read permissions (Account Balance, deposit/withdrawal read access, Pro Order read access) and optional trade/withdrawal write permissions.'
